* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

.logo h4 {
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: #c43552;
  letter-spacing: 1.5px;
  cursor: pointer;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}

nav a {
  text-decoration: none;
  color: #c43552;
  font-weight: 400;
}

.join {
  width: 90px;
  height: 30px;
  background-color: #c43552;
  color: #fff;
  border-radius: 20px;
}

.join:hover {
  width: 90px;
  height: 30px;
  background-color: #fff;
  color: #c43552;
  border: 1px solid #c43552;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

.content h1 {
  font-size: 35px;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #c43552;
}

.content p {
  font-size: 15px;
  line-height: 0.2cm;
  color: #363636;
}

.content .btn {
  display: inline-block;
  color: #c43552;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 15px;
  text-decoration: none;
  border: 2px solid #c43552;
}

.content .btn:hover {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 15px;
  text-decoration: none;
  background-color: #c43552;
  transition: all ease-in 0.3s;
}

.content {
  margin-left: 13%;
  margin-top: 8%;
}

.feature {
  width: 500px;
  height: 400px;
  position: absolute;
  bottom: 0;
  right: 160px;
  margin-bottom: 150px;
}

.content h6 {
  color: #c43552;
  font-size: 13px;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
}

.content2 {
  height: 130vh;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  box-sizing: border-box;
  position: relative;
  margin-top: 20%;
  margin-left: 20px;
}

.content2 h3 {
  color: #c43552;
  font-weight: 600;
  font-style: italic;
  margin-left: 38%;
}

.content2 p {
  color: #363636;
  text-align: center;
  font-size: 15px;
  margin-bottom: 50px;
}

.card {
  border: none;
}

.card h6 {
  font-weight: 500;
  color: #d25d94;
}

.card p {
  align-items: center;
  font-size: 12px;
}

.content3 {
  height: 130vh;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
  background-color: #d2516b;
}

.content3 h4 {
  padding-top: 55px;
  font-style: italic;
  font-weight: 600;
  color: #fbf8f9;
  padding-bottom: 60px;
}

.content3 .card {
  margin-right: 30px;
  background-color: #c43552;
  box-sizing: border-box;
  border-radius: 20px;
}

.content3 form {
  color: #fbf8f9;
}

.content3 input[type="email"] {
  background-color: #d2516b;
  border: none;
  border-radius: 15px;
  color: #fbf8f9;
}

.content3 input[type="text"] {
  background-color: #d2516b;
  border: none;
  border-radius: 15px;
  color: #fbf8f9;
}

.content3 textarea {
  background-color: #d2516b;
  border: none;
  border-radius: 15px;
  color: #fbf8f9;
}

.content3 input::placeholder {
  color: #fbf8f9;
}

.sent {
  width: 130px;
  height: 50px;
  background-color: #d2516b;
  color: #fbf8f9;
  margin-top: 10px;
  border: none;
  border-radius: 13px;
}

.sent:hover {
  width: 130px;
  height: 50px;
  color: #d2516b;
  background-color: #fbf8f9;
  margin-top: 10px;
  border: none;
  border-radius: 13px;
  transition: 0.3s ease-in-out;
}

footer {
  background-color: #c43552;
  color: #fbf8f9;
  height: 30px;
  padding-top: 10px;
}

footer h6 {
  font-size: 10px;
  opacity: 0.7;
}
